* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
}

.container {
  width: 1300px;
  margin: auto;
}

@media only screen and (max-width: 1510px) {
  .container {
    width: 90%;
  }
}

a:hover {
  color: red;
}

input[type="checkbox"] {
  -webkit-appearance: initial;
  -moz-appearance: initial;
       appearance: initial;
  background: white;
  width: 19px;
  height: 19px;
  border: none;
  position: relative;
  border: 1px solid gray;
  position: relative;
  top: 3px;
}

input[type="checkbox"]:hover {
  content: "\25FC";
  border: 1px solid red;
}

input[type="checkbox"]:checked {
  background: white;
}

input[type="checkbox"]:checked:after {
  content: "\25FC";
  color: black;
  position: relative;
  left: 3px;
  top: 1px;
}

.content .container .content-top {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 45px;
}

.content .container .content-top .top-pages {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.content .container .content-top .top-pages a {
  color: #666;
}

.content .container .content-top .top-pages .home-audio {
  color: #ed1d24;
}

.content .container .content-top .top-title {
  color: #1f2021;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.content .container .content-top .top-pages, .content .container .content-top .top-title {
  margin-top: 15px;
}

.content .container .content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .container .content-items .left-bar {
  width: 25%;
}

.content .container .content-items .left-bar .categories {
  width: 90%;
  height: 240px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .categories .categories-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .categories .categories-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -117px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .categories .categories-items {
  color: #666;
  list-style: none;
}

.content .container .content-items .left-bar .categories .categories-items .categories-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

.content .container .content-items .left-bar .categories .categories-items a:hover {
  color: red;
  -webkit-transition: 0.3;
  transition: 0.3;
}

.content .container .content-items .left-bar .categories .categories-items a {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.content .container .content-items .left-bar .filter {
  width: 90%;
  height: 300px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .filter .filter-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .filter .filter-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -172px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .filter .filter-items {
  color: #666;
  list-style: none;
  margin-top: 10px;
}

.content .container .content-items .left-bar .filter .filter-items .filter-item {
  color: #666;
  list-style: none;
  margin-bottom: 10px;
}

.content .container .content-items .left-bar .filter .filter-items .filter-item a:hover {
  color: red;
}

.content .container .content-items .left-bar .filter .filter-items .filter-item a {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.content .container .content-items .left-bar .filter .filter-items li {
  margin-bottom: 13px;
}

.content .container .content-items .left-bar .type {
  width: 90%;
  height: 300px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .type .type-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .type .type-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -142px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .type .type-items {
  color: #666;
  list-style: none;
  margin-top: 10px;
}

.content .container .content-items .left-bar .type .type-items .type-item {
  color: #666;
  list-style: none;
  margin-bottom: 10px;
}

.content .container .content-items .left-bar .type .type-items .type-item a:hover {
  color: red;
}

.content .container .content-items .left-bar .type .type-items .type-item a {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.content .container .content-items .left-bar .type .type-items li {
  margin-bottom: 13px;
}

.content .container .content-items .left-bar .tags {
  width: 90%;
  border-bottom: 1px solid #ebebeb;
  height: 695px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .tags .tags-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .tags .tags-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -144px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color {
  border-bottom: 1px solid #ebebeb;
  height: 68px;
  margin-bottom: 30px;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color .colors-title {
  color: #1f2021;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color .picker-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color .picker-items .picker-item {
  margin-top: 10px;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color .picker-items .picker-item .background-color {
  background-color: red;
  width: 27px;
  height: 27px;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color .picker-items .picker-item .color {
  width: 27px;
  height: 27px;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: -27px;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color .picker-items .picker-item .color:hover {
  width: 22px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -24.5px;
  margin-left: 2.5px;
  width: 22px;
  height: 22px;
}

.content .container .content-items .left-bar .tags .tags-price {
  height: 155px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.content .container .content-items .left-bar .tags .tags-price .price-title {
  color: #1f2021;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.content .container .content-items .left-bar .tags .tags-price .price-items .price-item {
  color: #666;
  line-height: 20px;
  margin-top: 15px;
}

.content .container .content-items .left-bar .tags .tags-price .price-items .price-item input[type="checkbox"] {
  -webkit-appearance: initial;
  -moz-appearance: initial;
       appearance: initial;
  background: white;
  width: 19px;
  height: 19px;
  border: none;
  position: relative;
  border: 1px solid gray;
  position: relative;
  top: 3px;
}

.content .container .content-items .left-bar .tags .tags-price .price-items .price-item input[type="checkbox"]:hover {
  content: "\25FC";
  border: 1px solid red;
}

.content .container .content-items .left-bar .tags .tags-price .price-items .price-item input[type="checkbox"]:checked {
  background: white;
}

.content .container .content-items .left-bar .tags .tags-price .price-items .price-item input[type="checkbox"]:checked:after {
  content: "\25FC";
  color: black;
  position: relative;
  left: 3px;
  top: 1px;
}

.content .container .content-items .left-bar .tags .tags-size .size-title {
  color: #1f2021;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content .container .content-items .left-bar .tags .tags-size .size-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.content .container .content-items .left-bar .tags .tags-size .size-items .size-item {
  color: #666;
  line-height: 20px;
  margin-top: 15px;
}

.content .container .content-items .left-bar .products {
  width: 90%;
  height: 430px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .products .products-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .products .products-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -101px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .products .product-items .product-item {
  margin-bottom: 70px;
}

.content .container .content-items .left-bar .products .product-items .product-item .product-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .container .content-items .left-bar .products .product-items .product-item .product-flex .product-img {
  width: 102px;
  height: 102px;
  background-size: cover;
  background-repeat: no-repeat;
}

.content .container .content-items .left-bar .products .product-items .product-item .product-flex .product-title {
  color: #1f2021;
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  margin-left: 20px;
}

.content .container .content-items .left-bar .products .product-items .product-item .product-flex a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .container .content-items .left-bar .products .product-items .product-item .product-flex a {
  color: #1f2021;
  font-weight: 700;
}

.content .container .content-items .left-bar .products .product-items .product-item .product-price {
  color: #ed1d24;
  font-weight: 700;
  margin-left: 120px;
  margin-top: -60px;
}

.content .container .content-items .left-bar .products .product-items .product-item .product-price span {
  text-decoration: line-through;
  color: #8f8f8f;
  font-weight: 400;
}

.content .container .content-items .left-bar .sidebar-banner {
  overflow: hidden;
  background-position: center center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .container .content-items .left-bar .sidebar-banner:hover .sidebar-banner-img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .container .content-items .left-bar .sidebar-banner-img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .container .content-items .main-content {
  width: 75%;
}

.content .container .content-items .main-content .content-filter {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.content .container .content-items .main-content .content-filter .bar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
}

.content .container .content-items .main-content .content-filter .bar-flex .costumsize-bar {
  width: 100px;
  height: 40px;
  border: 1px solid #ebebeb;
}

.content .container .content-items .main-content .content-filter .bar-flex .costumsize-bar .fa {
  margin: 10px;
  margin-left: 8px;
  position: relative;
  left: 5px;
}

.content .container .content-items .main-content .content-filter .bar-flex .costumsize-bar .fa-th {
  border-right: 0.5px solid #ebebeb;
  position: relative;
  width: 35px;
}

.content .container .content-items .main-content .content-filter .bar-flex .results-bar {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #666;
  margin-top: 13px;
}

.content .container .content-items .main-content .content-filter .content-arrangement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .container .content-items .main-content .content-filter .content-arrangement .arraingment-title {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #666;
  margin-top: 13px;
}

.content .container .content-items .main-content .content-filter .content-arrangement select {
  height: 40px;
  padding: 5px 15px;
  padding-right: 25px;
  border: 1px solid #ebebeb;
}

.content .container .content-items .main-content .content-product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .container .content-items .main-content .content-product-items .content-product-item {
  width: 30%;
  height: 460px;
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.content .container .content-items .main-content .content-product-items .content-product-item .content-product-image {
  width: 100%;
  height: 73%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content .container .content-items .main-content .content-product-items .content-product-item .content-product-image .product-sale {
  color: red;
  border: 1px solid red;
  width: 70px;
  padding: 2 10px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  position: relative;
  top: 15px;
  left: 15px;
}

.content .container .content-items .main-content .content-product-items .content-product-item .product-margin {
  margin: 30px;
}

.content .container .content-items .main-content .content-product-items .content-product-item .product-margin .content-product-stars {
  color: #c2c2c2;
}

.content .container .content-items .main-content .content-product-items .content-product-item .product-margin .content-product-title {
  margin-top: 10px;
  color: #212529;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}

.content .container .content-items .main-content .content-product-items .content-product-item .product-margin .content-product-title:hover {
  color: red;
  text-replace: 0.2s;
}

.content .container .content-items .main-content .content-product-items .content-product-item .product-margin .content-product-price {
  font-size: 16px;
  font-weight: 700;
  color: #ed1d24;
  margin-top: 10px;
}

.content .container .content-items .main-content .content-product-items .content-product-item .product-margin .content-product-price span {
  text-decoration: line-through;
  color: #8f8f8f;
  font-weight: 400;
}
/*# sourceMappingURL=homeaudio.css.map */