* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
}

.container {
  width: 1350px;
  margin: auto;
}

@media only screen and (max-width: 1510px) {
  .container {
    width: 90%;
  }
}

.content .container .content-top {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 45px;
}

.content .container .content-top .top-pages {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.content .container .content-top .top-pages a {
  color: #666;
}

.content .container .content-top .top-pages .home-audio {
  color: #ed1d24;
}

.content .container .content-top .top-title {
  color: #1f2021;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.content .container .content-top .top-pages, .content .container .content-top .top-title {
  margin-top: 15px;
}

.content .container .content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .container .content-items .left-bar {
  background-color: red;
  width: 25%;
}

.content .container .content-items .left-bar .categories {
  width: 90%;
  background-color: yellow;
  height: 240px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .categories .categories-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .categories .categories-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -117px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .categories .categories-items {
  color: #666;
  list-style: none;
}

.content .container .content-items .left-bar .categories .categories-items .categories-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

.content .container .content-items .left-bar .categories .categories-items a {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.content .container .content-items .left-bar .filter {
  width: 90%;
  background-color: yellow;
  height: 300px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .filter .filter-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .filter .filter-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -172px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .filter .filter-items {
  color: #666;
  list-style: none;
  margin-top: 10px;
}

.content .container .content-items .left-bar .filter .filter-items .filter-item {
  color: #666;
  list-style: none;
  margin-bottom: 10px;
}

.content .container .content-items .left-bar .filter .filter-items .filter-item a {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.content .container .content-items .left-bar .filter .filter-items li {
  margin-bottom: 13px;
}

.content .container .content-items .left-bar .type {
  width: 90%;
  background-color: yellow;
  height: 300px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .type .type-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .type .type-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -142px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .type .type-items {
  color: #666;
  list-style: none;
  margin-top: 10px;
}

.content .container .content-items .left-bar .type .type-items .type-item {
  color: #666;
  list-style: none;
  margin-bottom: 10px;
}

.content .container .content-items .left-bar .type .type-items .type-item a {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.content .container .content-items .left-bar .type .type-items li {
  margin-bottom: 13px;
}

.content .container .content-items .left-bar .tags {
  width: 90%;
  background-color: yellow;
  height: 625px;
  margin-bottom: 40px;
}

.content .container .content-items .left-bar .tags .tags-title {
  color: #1f2021;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  height: 28px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.content .container .content-items .left-bar .tags .tags-title::after {
  content: '';
  pointer-events: none;
  position: absolute;
  margin-top: 25px;
  margin-left: -144px;
  width: 70px;
  height: 3px;
  background-color: #ed1d24;
}

.content .container .content-items .left-bar .tags .tags-items .tags-color .colors-title {
  color: #1f2021;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.content .container .content-items .main-content {
  background-color: blue;
  width: 75%;
  height: 1000px;
}
/*# sourceMappingURL=homeaudio.css.map */