* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

.menu-section {
    width: 100%;
    .menu-items {
        display: flex;
        justify-content: space-between;
    }
}