.footer-section {
    width: 100%;
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 100px;
    .footer-items {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
        .subscribe-item {
            width: 100%;
            position: absolute;
            background-color: $red;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            padding-left: 25px;
            padding-right: 10px;
            justify-content: space-around;
            top: -125px;
            flex-wrap: wrap;
            h3 {
                color: $white;
                font-size: 18px;
                text-transform: uppercase;
                padding-top: 10px;
            }
            input {
                width: 500px;
                height: 40px;
                margin-left: 15px;
                padding-left: 15px;
            }
            a {
                color: $white;
                width: 120px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                margin-left: 20px;
                &:hover {
                    background-color: $black;
                    transition: 0.5s;
                }
            }
            .social-networks {
                display: flex;
                padding-top: 10px;
                i {
                    color: $white;
                    margin-left: 20px;
                    cursor: pointer;
                    animation: yourAnimation 3s infinite 0s linear;
                }
            }
        }
        .footer-item {
            display: flex;
            flex-direction: column;
            @media screen and(max-width: 1300px) {
                width: 100%;
                margin-top: 60px;
            }
            h4 {
                font-size: 15px;
                color: $white;
            }
            p {
                font-size: 14px;
                color: #c1c1c1;
                padding-top: 15px;
            }
            a {
                color: #c1c1c1;
                font-size: 14px;
                margin-top: 15px;
            }
            .number {
                color: $red;
                font-size: 34px;
                padding-top: 15px;
            }
            .item {
                margin-top: 25px;
                img {
                    cursor: pointer;
                }
            }
            .footer-menu {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                li {
                    margin-top: 20px;
                    a {
                        color: #c1c1c1;
                        font-size: 14px;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
            img {
                margin-top: 30px;
            }
        }
    }
}

.copyright-section {
    width: 100%;
    background-color: #323232;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 60px solid $white;
    .copyright-items {
        display: flex;
        justify-content: space-between;
        .copyright-item {
            h3 {
                font-size: 14px;
                color: #c1c1c1;
                padding-top: 5px;
            }
            i {
                font-size: 30px;
                color: $white;
            }
        }
    }
}